
# Prompt
Import-Module Terminal-Icons

Import-Module posh-git
Import-Module oh-my-posh
Set-PoshPrompt armando

Set-PSReadLineOption -PredictionSource History
Set-PSReadLineOption -Colors @{
  Command            = 'DarkGray'
  Parameter          = 'DarkGreen'
  InlinePrediction   = '#8181f7'
  Default            = 'Magenta'
  
}

cls

# Alias
Set-Alias g git
Set-Alias ll ls
Set-Alias v vim
Set-Alias c code
Set-Alias m mongod

# Functions
function pro {code $PROFILE}
function prov {v $PROFILE}
function pse {php -S localhost:3000}
function ch {code (get-location)}

  # Npm functions
function nd {npm run dev}
function nb {npm run build}

  # Vite Function
function vit {
  param(
    $name, $template
  )
  npm init vite@latest $name -- --template $template
}

  # cd functions
function web {
  param (
    $project
  )
  cd D:\Documentos\Code\Web\$project
}

function esc {
  param (
    $materia, $parcial
  )
  cd D:\Documentos\Escuela\$materia\$parcial
}

# Copiar configuraciones y estilos por defecto
function cvi {

  param(
    $language
  )

  if($language -eq "react"){
    copy D:\Documentos\Code\Web\defaults\$language\vite.config.js (get-location)
  }  
  if($language -eq "react-ts") {
    copy D:\Documentos\Code\Web\defaults\$language\* (get-location)
  }   
  if($language -eq "vue") {
    copy D:\Documentos\Code\Web\defaults\$language\vite.config.js (get-location)
  } 
  if($language -eq "vue-ts") {
    copy D:\Documentos\Code\Web\defaults\$language\* (get-location)
  } 
}

function cs {
  copy D:\Documentos\Code\Web\defaults\Styles\* (get-location) -Recurse -Force
}

function school{
	param($semestre, $materia)
  cd "Documents\${semestre}to Semestre\${materia}"
}
